<html>
    <head>
        <title>Thobs World blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Thobs World Blog</a></h1>
        </div>

        <div>
            <p>published: 15.05.2016, 14:54</p>
            <h2><a href="">My first post</a></h2>
            <p>today I am thankful for having to learn this new skill. this is really exciting awe people.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>You teach a woman you teach the nation.</p>
        </div>
    </body>
</html>
